 body{
  padding: 0%;
  margin: 0%;
 }
 .navbar ul li a {
   padding: 15px;
   color: black;
   text-decoration: none;
  }
  .navbar{
    display: flex;
    gap: 15%;
    padding: 25PX;
  }
  
  .barr {
    list-style-type: none;
    display: flex;
  }
  
  .great {
    float: left;
    width:450px;
  }
  
  .scndimg {
    margin: 5%;
    padding: 5%;
    
  }
  
  .top {
   /* justify-content: center; */
   font-size: 10px
 }

 li a {
   display: block;
 }

 .word p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 30px;
 }

 .firstimg img {
   width: 100%;
 }

 .youtube{
  margin-left: 23%;

 }

 /* button */
 .word button {
   background-color: rgb(17, 17, 209);
   background-size: 20px;
   border-radius: 40px;
   color: white;
   padding: 8px;
   margin-bottom: 40px;
 }


 .grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
 }


 a:hover {
   background-color: rgb(89, 41, 222);
 }

 .beverages {
   margin: 5%;
   padding: 8%;
 }

 .food {
   float: right;
   width: 450px;
 }


.footer{
  background-color: rgb(63, 60, 60);
  padding: 30px;
  display: flex;
  text-align: center;
  /* gap: 100px; */
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-evenly;
}
.foot001 p {
  color: rgb(129, 129, 120);
  text-align: justify;
}
.foot002 p {
  color: rgb(129, 129, 120);
  text-align: justify;
}
.foot003 p {
  color: rgb(129, 129, 120);
  text-align: justify;
}
.foot004 p {
  color: rgb(129, 129, 120);
  text-align: justify;
}
.foot002 p:hover {
  color: rgb(41, 41, 113);
}
.foot003 p:hover {
  color: rgb(41, 41, 113);
}
.foot004 p:hover {
  color: rgb(41, 41, 113);
}
h2{
  background-color: rgb(39, 37, 37);
  margin: 0px;
  padding: 0px;
  color: white;
  text-align: center;
}